/*
 * Copyright (c) 2024 kodomari
 * SPDX-License-Identifier: MIT
 */

#include "kod_04.dtsi"

&xiao_spi { status = "disabled"; };
&xiao_i2c { status = "disabled"; };
&xiao_serial { status = "disabled"; };

 / {
    /* PS/2 の“物理ドライバ”（GPIO版） */
    gpio_ps2: gpio_ps2 {
        compatible = "gpio-ps2";
        status = "okay";
        scl-gpios = <&xiao_d 5 GPIO_PULL_UP>;  /* CLK */
        sda-gpios = <&xiao_d 6 GPIO_PULL_UP>;  /* DATA */
    };

    /* ZMK の input デバイス（mouse/trackpoint） */
    mouse_ps2: mouse_ps2 {
        compatible = "zmk,input-mouse-ps2";
        status = "okay";
        ps2-device = <&gpio_ps2>;

tp-sensitivity = <60>;

        /* 下は “binding に存在するものだけ” 入れる（必要なら） */
        /* tp-val6-upper-speed = <...>; */
        /* Press-to-select を有効にするなら boolean はこう書く */
        /* tp-press-to-select-pressure = <...>; */
    };

    /* input listener（名前が -ps2 になってるのが重要） */
    ps2_listener: ps2_listener {
        compatible = "zmk,input-listener-ps2";
        device = <&mouse_ps2>;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios
          = <&xiao_d 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&xiao_d 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&gpio1 7   (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&xiao_d 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          ;
        col-gpios
          = <&gpio1 5 GPIO_ACTIVE_HIGH>
          , <&xiao_d 8 GPIO_ACTIVE_HIGH>
          , <&gpio1 3 GPIO_ACTIVE_HIGH>
          , <&xiao_d 7 GPIO_ACTIVE_HIGH>
          , <&xiao_d 2 GPIO_ACTIVE_HIGH>
          , <&xiao_d 1 GPIO_ACTIVE_HIGH>
          , <&xiao_d 0 GPIO_ACTIVE_HIGH>
          ;
    };
};
