/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* 70 keys: 5 rows x 14 cols */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
