#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;

      bindings = <
        &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp RET
        &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp DOWN
        &kp LCTRL &kp A     &kp S     &kp D     &kp F     &kp G     &kp LEFT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp RIGHT
        &kp CAPS  &kp LGUI  &kp LALT  &kp SPACE &kp DEL   &kp N6    &kp UP
      >;
    };
  };
};
